<div ng-init="getOne()">
	<div class="row">
		<div class="col-md-12">
			<button class="btn btn-success" ng-show="!category.id">Create Category</button>
			<Button class="btn btn-success" ng-show="category.id">Update Category</Button>
			<hr>
			<form class="form-horizontal">
				<div class="form-group">
   					<label for="name" class="col-md-2 control-label">Category Name</label>
    				<div class="col-sm-10">
      					<input type="text" class="form-control" id="name" placeholder="Category Name..." ng-model="category.name">
    				</div>
  			    </div>
			</form>
		</div>	
	</div>
	<div>
	
	</div>
</div>