<div class="container col-md-12" ng-init="getOne()" ng-controller="postController">
	<div class="row">
		<div>
			<h6>{{post.author}} - {{post.created}}</h6>
		</div>
		<div>
			<h2>{{post.headline}}</h2>
		</div>
		<hr>
	</div>
	<div>
		<div class="row sb-comments-top" ng-init="findAllByPostId()">
			<p><b>COMMENTS {{totalComments}}</b></p>
		</div>
		<div class="row">
			<div class="well col-md-12">
			<div class="col-md-11.5 col-md-offset-0.5 sb-comment" ng-repeat="(index,comment) in comments">
				<h4>{{ comment.headline }}</h4>
				<h6>{{ comment.author }} - {{ comment.created }}</h6>
				<hr>
				<p>{{ comment.text }}</p>
				<div>
					<hr>
					<div><span class="glyphicon glyphicon-thumbs-up sb-positive" ng-class="{'sb-pointer': !comment.like, 'sb-like-disabled': comment.like}" ng-click="updateLike(comment.id, index, 1)">{{comment.positive}} </span>
					<span class="glyphicon glyphicon-thumbs-down sb-negative" ng-class="{'sb-pointer': !comment.like, 'sb-like-disabled': comment.like}" ng-click="updateLike(comment.id, index, 0)">{{comment.negative}}</span>
					</div>
				</div>
			</div>
			</div>
		</div>
	</div>
</div>