.sb-nav{
	border-bottom: 3px solid grey;
}
.sb-content{
	border-right: 1px solid grey;
}
.sb-media{
	border-bottom: 1px solid grey;
	width: 90%;
}

.sb-pointer{
	cursor: pointer;
}

.sb-comments-top{
	background: grey;
	color: white;
	padding: 10px 10px 1px 10px;
}
.sb-comments-text{
	font-color: white;
}