.sb-nav{
	border-bottom: 3px solid grey;
}
.sb-content{
	border-right: 1px solid grey;
}
.sb-media{
	border-bottom: 1px solid grey;
	width: 90%;
}

.sb-pointer{
	cursor: pointer;
}

.sb-comments-top{
	background: grey;
	color: white;
	padding: 10px 10px 1px 10px;
}
.sb-comments-text{
	font-color: white;
}

.sb-comment{
	background-color: white;
	padding: 10px 10px 10px 10px;
	margin-bottom: 10px;
	border-left: 1px solid grey;
	border-right: 1px solid grey;
}

.sb-positive{
	color: green;
}

.sb-negative{
	color: red;
}

.sb-clicked{
	color: grey;
}

.sb-submit {
    /* border: 1px solid #3079ed; */
    border: 0px;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,0.1);
    background-color: #4d90fe;
    padding: 17px 0px;
    font-size: 14px;
    width: 100%;
}

.sb-submit:hover {
    /* border: 1px solid #2f5bb7; */
    border: 0px;
    text-shadow: 0 1px rgba(0,0,0,0.3);
    background-color: #357ae8;
}

.sb-submit-invalid{
	border: 0px;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,0.1);
    background-color: #99ccff;
    padding: 17px 0px;
    font-size: 14px;
    width: 100%;
}

.sb-input-invalid{
	border-color: red;
}

.sb-message-danger{
	color: red;
}

.sb-comment-button {
    /* border: 1px solid #3079ed; */
    border: 0px;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,0.1);
    background-color: #4d90fe;
    padding: 17px 0px;
    font-size: 14px;
    font-weight: bold;
    /*width: 100%;*/
}

.sb-comment-button:hover {
    /* border: 1px solid #2f5bb7; */
    border: 0px;
    text-shadow: 0 1px rgba(0,0,0,0.3);
    background-color: #357ae8;
}
