.sp-nav{
	border-bottom: 3px solid grey;
}
.sp-content{
	border-right: 1px solid grey;
}
.sp-media{
	border-bottom: 1px solid grey;
	width: 90%;
}

.sp-pointer{
	cursor: pointer;
}

.sp-comments-top{
	background: grey;
	color: white;
	padding: 10px 10px 1px 10px;
}
.sp-comments-text{
	font-color: white;
}